/* Sheet - Ana C., Inês F., Mariana G., 2023-24, 10/11 */

/*H1*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*H2*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*Corpo de Texto*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Paleta de cores*/
:root{
    --primeira-cor: #FDFED1;
    --segunda-cor: #8B628A;
    --terceira-cor:  #CBB8BB;
    --quarta-cor: #2ea29d;
    --quinta-cor:#e1794c;
    --sexta-cor: #95c69e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    max-width: 425px;
}

header {
    display: block;
    position: fixed;
    height: 5rem;
    background-color: var(--primeira-cor);
}

.ciclone {
    display: block;
    position: relative;
    margin-top: 25px;
    margin-left: 13px;
    width: 65%;
}

/* MENU ............................................................................ */
.menu {
    display: block;
    position: fixed;
    left: 82%;
    top: 21px;
    width: 35pt;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 101;
}

.menu .barras, .menu:after, .menu:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color:var(--segunda-cor);
    margin: 6px 0px;
    transition: 0.4s;
}
/* o que fiz aqui em cima está a criar aqueles tres risquinhos, o "hamburguer". penso qque isto não será necessário uma vez que o botão é uma imagem*/

.menu.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.menu.is-active .barras {
   opacity: 0;
}

.menu.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.menumovel {
    display:block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    padding-top: 120px;
    background-color: var(--primeira-cor);
    transition: 0.4s;
}

.menumovel.is-active {
    left: 0;
}

.menumovel a {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    padding: 12px 16px;
    background-color:var(--terceira-cor);
    color: var(--segunda-cor);
    text-decoration: none;

}

.menumovel a {
    background-color:var(--terceira-cor);
    border-radius: 5px;
}

body{
    background-color: var(--primeira-cor);
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(1.125rem, 2vw, 1.25rem);
    text-align: center;
}

.mainimg {
    padding-top: 5.5rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0.6rem;
    width: 95%;
    align-items: center;
}

.balao {
    display: none;
}

h1{
    font-size: 0.95em;
    font-weight: 700;
    margin: 0rem 3rem 1rem 3rem;
    text-align: center;
    color: var(--segunda-cor);
}

.text{
    display: block;
    position: relative;
    width:300px;
    font-size: 11.5px;
    color: var(--segunda-cor);
    margin-top: 15px;
    margin-left: 15%;
    z-index: -2;
}


@media only screen and (min-width: 768px) {


    html{
        max-width: 100%;
    }

    .menu {
        left: 95%;
        z-index: 99999;
     }

    header {
        margin-top: 0;
    }

    .ciclone {
        margin: 0;
        margin-top: 12px;
        width: 25%;
        margin-left: 10px;
    }

    main {
        margin: 10px;
        margin-top: 10px;
        padding-top: 5rem;
    }

    .mainimg {
        display: block;
        position: relative;
        padding: 0;
        width: 34%;
        height: 100%;
        z-index: -1;
        margin-left: 10px;
    }

    .balao {
        display: block;
        position: absolute;
        width: 8%;
        top:40%;
        right: 2%;
        z-index: -2;

        animation-name: balao;
        animation-direction: alternate;
    }


    h1{
        font-size: 1.5em;
        font-weight: 700;
        margin: -12rem 20px 0rem 0rem;
        left: 80%;
        text-align: right;
        color: var(--segunda-cor);
    }

    .text{
        font-size: 1em;
        margin-left: auto;
        margin-right: 17px;
        margin-top: 1.5rem;
        text-align: right;
        width: 600px;
    }

}

